table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:white;
    font-weight: 300;
  }
  
  tr:nth-child {
    background-color: #240090;
    color: white;
  }